
.container {
    max-width: 1170px;
    margin: 0px auto;
    font-family: "Montserrat", 'Arial', sans-serif;
}

/*===============шапка================*/
header {
	border-bottom: 1px solid #e3e8f0;
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
	flex-basis: 25%;
    display: flex;
    justify-content: center;
}

.menu-top {
	width: 500px;
}

.cart {
	flex-basis: 25%;
    flex-wrap: wrap;
    display: flex;
}

.menu-top__menu-item {
	color: #343e5c;
	font-size: 14px;
	font-family: 600;
}

.cart-name, .login {
	font-size: 11px;
	color: #343e5c;
}

.cart__count-tovar {
	background: #e3e8f0;
	border-radius: 50%;
	padding: 5px;
	color: #343e5c;
	text-align: center;
}

.login {
	border: 2px solid #e3e8f0;
    padding: 10px 10px;
    width: 80px;
    border-radius: 20px;
    font-size: 14px;
    text-align: center;
}


/*=================sub-menu=============*/
.sub-menu__item {
	color: #b9bed1;
	font-size: 11px;
	text-transform: uppercase;
}

.sub-menu__item:active {
	color: #343e5c;
}


/*============Главный экран==============*/
.section-main {
	background-image: url('/lesson_5/img/iphone_6.jpg')
}

.section-main__title {
	font-weight: 600;
	font-size: 42px;
	color: #fff;
}

.section-main__description {
	font-size: 16px;
	color: #fff;
	font-family: 'Crimson Text', serif;
}