
.container {
    max-width: 1170px;
    margin: 0px auto;
    font-family: "Montserrat", 'Arial', sans-serif;
}

/*===============шапка================*/
header {
	border-bottom: 1px solid #e3e8f0;
	
}

.container__header, .sub-header {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
	flex-basis: 25%;
    display: flex;
    justify-content: flex-start;
    width: 100px;
}

.menu-top {
	width: 500px;
    display: flex;
    justify-content: center;
    flex-basis: 50%;
}

.cart {
	width: 200px;
    flex-basis: 25%;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
}

.menu-top__menu-item {
	color: #343e5c;
    font-size: 14px;
    padding-right: 30px;
}

.cart-name{
	line-height: 40px;
}

.cart-name, .login {
	font-size: 11px;
    color: #343e5c;
    width: 100px;
    text-align: center;
}

.cart__count-tovar {
	background: #e3e8f0;
    border-radius: 50%;
    color: #343e5c;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 11px;
    float: right;
}

.login {
	border: 2px solid #e3e8f0;
    padding: 10px 15px;
    width: 80px;
    border-radius: 20px;
    font-size: 14px;
    text-align: center;
    margin: 0 10px;
}


/*=================sub-menu=============*/
.sub-menu__item {
	color: #b9bed1;
	font-size: 11px;
	text-transform: uppercase;
	text-decoration: none;
}

.sub-menu__item:active, .sub-menu__item:hover, .sub-menu__item:focus {
	color: #343e5c;
}

.sub-header {
	line-height: 48px;
}

.sub-header__sub-menu {
	flex-basis: 70%;
    width: 500px;
    display: flex;
    justify-content: flex-start;
}

.sub-header__support {
    float: left;
    flex-basis: 10%;
    width: 100px;
    display: flex;
    justify-content: flex-start;
}

.sub-header__support-link {
	color: #b9bed1;
    font-size: 11px;
    text-transform: uppercase;
    padding-right: 30px;
    text-decoration: none;
}

.sub-header__search {
	flex-basis: 20%;
    width: 200px;
    display: flex;
    justify-content: flex-start;
}

.sub-header__search-ico {
	padding: 0 10px;
}

/*============Главный экран==============*/
.section-main {
	background-image: url('/lesson_5/img/iphone_6.jpg')
}

.section-main__title {
	font-weight: 600;
	font-size: 42px;
	color: #fff;
}

.section-main__description {
	font-size: 16px;
	color: #fff;
	font-family: 'Crimson Text', serif;
}